<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Autofac.Mvc3" version="2.5.2.830" />
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="FakeItEasy" version="1.7.4117.2" />
  <package id="Machine.Specifications" version="0.4.10.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Unity" version="2.0" />
</packages>