@import 'header-template.scss';

@include extjs-button-ui(
    'snapshot-add-btn-small',

    $border-radius: 3px,
    $border-width: 1px,

    $border-color: $add-button-border-color,
    $border-color-over: $add-button-border-color,
    $border-color-focus: $add-button-border-color,
    $border-color-pressed: $add-button-border-color,
    $border-color-disabled: $add-button-border-color,

    $padding: 4px 9px,
    $text-padding: 0px,

    $background-color: #77bb55,
    $background-color-over:  #77bb55,
    $background-color-focus:  #77bb55,
    $background-color-pressed:  #77bb55,
    $background-color-disabled:  #77bb55,

    $background-gradient: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-over: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-focus: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%), //like $background-gradient
    $background-gradient-pressed: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-disabled: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),

    $color: $default-button-color,
    $color-over: $default-button-color,
    $color-focus: $default-button-color,
    $color-pressed: $default-button-color,
    $color-disabled: $default-button-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@include extjs-button-ui(
    'snapshot-add-btn-small',

    $border-radius: 3px,
    $border-width: 1px,

    $border-color: $add-button-border-color,
    $border-color-over: $add-button-border-color,
    $border-color-focus: $add-button-border-color,
    $border-color-pressed: $add-button-border-color,
    $border-color-disabled: $add-button-border-color,

    $padding: 4px 9px,
    $text-padding: 0px,

    $background-color: #4c7f2c,
    $background-color-over:  #4c7f2c,
    $background-color-focus:  #4c7f2c,
    $background-color-pressed:  #4c7f2c,
    $background-color-disabled:  #4c7f2c,

    $background-gradient: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-over: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-focus: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%), //like $background-gradient
    $background-gradient-pressed: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),
    $background-gradient-disabled: color_stops(#77bb55 0%,#4c7f2c 0%,#426a28 1%,#395a23 3%,#4c7f2c 100%),

    $color: $default-button-color,
    $color-over: $default-button-color,
    $color-focus: $default-button-color,
    $color-pressed: $default-button-color,
    $color-disabled: $default-button-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@include extjs-button-ui(
    'snapshot-navigation-btn-small',

    $border-radius: 0,
    $border-width: 0 1px,

    $border-color: transparent,
    $border-color-over: $navigation-btn-border-color,
    $border-color-focus: $navigation-btn-border-color,
    $border-color-pressed:$navigation-btn-border-color,
    $border-color-disabled: $navigation-btn-border-color,

    $padding: 0,
    $text-padding: 0px,

    $background-color:transparent,
    $background-color-over:  #446a2f,
    $background-color-focus:  #446a2f,
    $background-color-pressed:  #446a2f,
    $background-color-disabled:  transparent,

    $background-gradient: transparent,
    $background-gradient-over: color_stops(#477230 0%,#446a2f 100%),
    $background-gradient-focus: color_stops(#477230 0%,#446a2f 100%), //like $background-gradient
    $background-gradient-pressed: color_stops(#477230 0%,#446a2f 100%),
    $background-gradient-disabled: transparent,

    $color: $default-button-color,
    $color-over: $default-button-color,
    $color-focus: $default-button-color,
    $color-pressed: $default-button-color,
    $color-disabled: $default-button-color,

    $font-size: $font_size-larger,
    $font-size-over: $font_size-larger,
    $font-size-focus: $font_size-larger,
    $font-size-pressed: $font_size-larger,
    $font-size-disabled: $font_size-larger,

    $font-weight: $font_weight-bold,
    $font-weight-over: $font_weight-bold,
    $font-weight-focus: $font_weight-bold,
    $font-weight-pressed: $font_weight-bold,
    $font-weight-disabled: $font_weight-bold,

    $font-family: $global-font-family,
    $font-family-over: $global-font-family,
    $font-family-focus: $global-font-family,
    $font-family-pressed: $global-font-family,
    $font-family-disabled: $global-font-family
);

@include extjs-button-ui(
    'snapshot-sidebar-btn-small',

    $border-radius: 3px,
    $border-width: 1px 1px 1px 1px,

    $border-color:#b8b9b9 #b8b9b9 #b8b9b9 transparent,
    $border-color-over: #b8b9b9 #b8b9b9 #b8b9b9 transparent,
    $border-color-focus: #b8b9b9 #b8b9b9 #b8b9b9 transparent,
    $border-color-pressed: #b8b9b9 #b8b9b9 #b8b9b9 transparent,
    $border-color-disabled: #b8b9b9 #b8b9b9 #b8b9b9 transparent,

    $padding: 2px 0 2px 20px,
    $text-padding: 0px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus:  transparent,
    $background-color-pressed:  #fff,
    $background-color-disabled:  transparent,

    $background-gradient: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-over: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-focus: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-pressed: transparent,
    $background-gradient-disabled: color_stops(#f4f4f4 0%, #ececec 100%),

    $color: $bluish-font-color,
    $color-over: $bluish-font-color,
    $color-focus: $bluish-font-color,
    $color-pressed: $black-font-color,
    $color-disabled: $bluish-font-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@include extjs-button-ui(
    'snapshot-submenu-btn-small',

    $border-radius: 3px 3px 0 0,
    $border-width: 1px 1px 1px 1px,

    $border-color: #b8bcc0 #b8bcc0 #b8bcc0 #b8bcc0 ,
    $border-color-over: #b8bcc0 #b8bcc0 #b8bcc0 #b8bcc0,
    $border-color-focus: #b8bcc0 #b8bcc0 #b8bcc0 #b8bcc0,
    $border-color-pressed: #b8bcc0 #b8bcc0 transparent #b8bcc0,
    $border-color-disabled: #b8bcc0 #b8bcc0 #b8bcc0 #b8bcc0,

    $padding: 0,
    $text-padding: 0px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus:  transparent,
    $background-color-pressed:  #fff,
    $background-color-disabled:  transparent,

    $background-gradient: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-over: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-focus: color_stops(#f4f4f4 0%, #ececec 100%),
    $background-gradient-pressed: transparent,
    $background-gradient-disabled: color_stops(#f4f4f4 0%, #ececec 100%),

    $color: $bluish-font-color,
    $color-over: $bluish-font-color,
    $color-focus: $bluish-font-color,
    $color-pressed: $black-font-color,
    $color-disabled: $bluish-font-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@include extjs-button-ui(
    'snapshot-cancel-btn-small',

    $border-radius: 3px,
    $border-width: 1px,

    $border-color: $cancel-button-border-color,
    $border-color-over: $cancel-button-border-color,
    $border-color-focus: $cancel-button-border-color,
    $border-color-pressed: $cancel-button-border-color,
    $border-color-disabled: $cancel-button-border-color,

    $padding: 4px 9px,
    $text-padding: 0px,

    $background-color: #8d8d8d,
    $background-color-over: #8d8d8d,
    $background-color-focus: #8d8d8d,
    $background-color-pressed: #8d8d8d,
    $background-color-disabled: #8d8d8d,

    $background-gradient: color_stops(#b6b6b6 1%,#a9a9a9 5%,#8d8d8d 100%),
    $background-gradient-over: color_stops(#b6b6b6 1%,#a9a9a9 5%,#8d8d8d 100%),
    $background-gradient-focus: color_stops(#b6b6b6 1%,#a9a9a9 5%,#8d8d8d 100%),
    $background-gradient-pressed: color_stops(#b6b6b6 1%,#a9a9a9 5%,#8d8d8d 100%),
    $background-gradient-disabled: color_stops(#b6b6b6 1%,#a9a9a9 5%,#8d8d8d 100%),

    $color: $default-button-color,
    $color-over: $default-button-color,
    $color-focus: $default-button-color,
    $color-pressed: $default-button-color,
    $color-disabled: $default-button-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@include extjs-button-ui(
    'snapshot-pagination-btn-small',

    $border-radius: 3px,
    $border-width: 1px,

    $border-color: $pagination-btn-border-color,
    $border-color-over: $pagination-btn-border-color,
    $border-color-focus: $pagination-btn-border-color,
    $border-color-pressed: $pagination-btn-border-color,
    $border-color-disabled: $pagination-btn-border-color,

    $padding: 4px 9px,
    $text-padding: 0px,

    $background-color: #ffff00,
    $background-color-over: #ffff00,
    $background-color-focus: #ffff00,
    $background-color-pressed: #ffff00,
    $background-color-disabled: #ffff00,

    $background-gradient: color_stops(#acb7c0 3%, #888e93 6%, #525a61 100%),
    $background-gradient-over: color_stops(#acb7c0 3%, #888e93 6%, #525a61 100%),
    $background-gradient-focus: color_stops(#acb7c0 3%, #888e93 6%, #525a61 100%),
    $background-gradient-pressed: color_stops(#acb7c0 3%, #888e93 6%, #525a61 100%),
    $background-gradient-disabled: color_stops(#acb7c0 3%, #888e93 6%, #525a61 100%),

    $color: $default-button-color,
    $color-over: $default-button-color,
    $color-focus: $default-button-color,
    $color-pressed: $default-button-color,
    $color-disabled: $default-button-color,

    $font-size: $font_size-normal,
    $font-size-over: $font_size-normal,
    $font-size-focus: $font_size-normal,
    $font-size-pressed: $font_size-normal,
    $font-size-disabled: $font_size-normal,

    $font-weight: $font_weight-normal,
    $font-weight-over: $font_weight-normal,
    $font-weight-focus: $font_weight-normal,
    $font-weight-pressed: $font_weight-normal,
    $font-weight-disabled: $font_weight-normal,

    $font-family: $global2-font-family,
    $font-family-over: $global2-font-family,
    $font-family-focus: $global2-font-family,
    $font-family-pressed: $global2-font-family,
    $font-family-disabled: $global2-font-family
);

@import 'footer-template.scss';