<?xml version="1.0" encoding="utf-8" ?>
<scriptsConfiguration>
    <groups>
        <group name="frameworks" compress="false">
            <files>
                <file path="Assets\js\jquery-1.7.1.min.js"/>
                <file path="Assets\js\underscore-min.js"/>
                <file path="Assets\js\ext-all.js"/>
            </files>
        </group>
    </groups>
</scriptsConfiguration>
