@model Web.Models.SmsRequest.SmsRequestCreateModel

@using Microsoft.Web.Mvc

@section page_title{
SMS Request : Overview
}
@section breadcrumbs{
    > Create request
}
@section master_content{
    <form class="chosen-form"  method="post" id="SmsRequestForm">
        <fieldset class="fieldsCollection ">
            <div> DONE </div>
        </fieldset>
    </form>
}
@section scripts{


}
