<?xml version="1.0" encoding="utf-8" ?>
<cssConfiguration>
	<groups>
		<group name="theme" compress="false">
			<files>
        <file path="Assets\css\snapshot-theme.css"/>
			</files>
		</group>
    <group name="button" compress="false">
      <files>
        <file path="Assets\css\button-template.css"/>
      </files>
    </group>
    <group name="toolbar" compress="false">
      <files>
        <file path="Assets\css\toolbar-template.css"/>
      </files>
    </group>
    <group name="window" compress="false">
      <files>
        <file path="Assets\css\window-template.css"/>
      </files>
    </group>
		<group name="ie" compress="false">
			<files>
				<!--<file path="Assets\css\ext-ie.css"/>-->
			</files>
		</group>
	</groups>
</cssConfiguration>
