<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="EvozonErm" connectionString="Data Source=.\sqlexpress;Initial Catalog=StockManager;Integrated Security=True;Pooling=False" />
        <add name="MySqlDbConnection" connectionString="Server=127.0.01;Database=evozonerm_test;Uid=dev;Pwd=evo123" />
    </connectionStrings>
    
    <appSettings>
        <!-- Here we set the ScriptsVersion -->
        <add key="ScriptsVersion" value="0.0.0.1"/>

        <add key="DefaultCacheAbsoluteTimeExpiration" value="0.1:0:0"/>
        <add key="StaticFileHttpMaxAge" value="0.0:0:1"/>
        <add key="SmsGateway.Url" value="https://www.txtlocal.com/sendsmspost.php"/>
        <add key="SmsGateway.UserName" value="greg.payne@minoxsys.com"/>
        <add key="SmsGateway.Password" value="snapshot1"/>
        <add key="SmsGateway.From" value="xreplyx"/>
        <add key="SmsGateway.TestMode" value="1"/>
        <add key="SmsGateway.DebugMode" value="1"/>
        <add key="SendMail.From" value="snapshot@evozon.com" />
        <add key="EmailResponse.Url" value="http://snapshot.apphb.com/EmailRequest/Response"/>
    </appSettings>
</configuration>